
body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    color: #666;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.slider_control {
    position: absolute;
    top: 50%;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 20px;
    height: 40px;
    line-height: 40px;
    background-color: #d9d9d9;
    background-color: rgba(0,0,0,.15);
    margin-top: -20px;
    font-size: 20px;
    z-index: 2;
    border: none;
    outline: none;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color ease .2s;
    -moz-transition: background-color ease .2s;
    transition: background-color .2s ease;
}
.slider_control:hover {
    color: #fff;
    background-color: #999;
    background-color: rgba(0,0,0,.4);
}
.slider_control_prev {
    left: 0;
}
.slider_control_next {
    right: 0;
}
.slider_control i {
    color: #fff;
    color: hsla(0,0%,100%,.4);
    -webkit-transition: color .2s ease;
    -o-transition: color ease .2s;
    -moz-transition: color ease .2s;
    transition: color .2s ease;
}

.slider_indicators {
	position:absolute;
    z-index: 1;
    bottom: 20px;
}

.slider_indicators_btn,.slider_indicators_btn:after {
    -webkit-transition: background .2s ease;
    -o-transition: background ease .2s;
    -moz-transition: background ease .2s;
    transition: background .2s ease;
}




.lazyimg_loaded .lazyimg_img {
    opacity: 1;
}
.slider_item {
	float:left;
    height: 100%;
    min-height: 1px;
}
.slider_wrapper{
	position:relative;
	float:left;
}

.lazyimg_img {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
.lazyimg_loaded {
    -webkit-transition: background .2s linear, opacity .2s linear !important;
    -o-transition: background .2s linear, opacity .2s linear !important;
    -moz-transition: background .2s linear, opacity .2s linear !important;
    transition: background .2s linear, opacity .2s linear !important;
    /* transition: background .2s linear; */
    background: transparent;
}

.lazyimg {
    position: relative;
    overflow: hidden;
    background: #eee;
    -webkit-transition: background .2s linear;
    -o-transition: background .2s linear;
    -moz-transition: background .2s linear;
    transition: background .2s linear;
}

.mod_price {
    font-size: 14px;
    color: #e33333;
}
