
body {
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    font: 12px/1.5 Microsoft YaHei,Heiti SC,tahoma,arial,Hiragino Sans GB,\\5B8B\4F53,sans-serif;
    color: #666;
}
.index {
    background-color: #f0f3ef;
}
#shortcut {
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
}
#shortcut .w {
    height: 30px;
    line-height: 30px;
    color: #999;
}
.w {
    margin: auto;
    width: 1190px;
}
#shortcut li {
    float: left;
}
#ttbar-mycity {
    margin-left: 200px;
}

.dorpdown, .shortcut_btn {
    position: relative;
    z-index: 21;
}
#ttbar-mycity .iconfont {
    font-size: 14px;
    color: #f10215;
    margin-right: 4px;
}
.iconfont {
    font-family: iconfont;
    font-style: normal;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
#shortcut li.spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
#shortcut .dt {
    padding-left: 7px;
    padding-right: 7px;
}
#shortcut a{
	color: #999;
}
#shortcut a:hover{
	 color: #f10215;
} 
#shortcut .style-red {
    color: #f10215;
}
#ttbar-login {
    margin-right: 8px;
    z-index: 20;
}
#shortcut .dd {
    line-height: 24px;
}
.shortcut_btn:hover {
    z-index: 22;
}
#shortcut li.dropdown:hover .dt{
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	background:#fff;
}
#shortcut li.dropdown:hover .dt{
	padding-left: 6px;
    padding-right: 6px;
}

.dropdown-layer {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
}
/**********header**********/
#header .w {
    position: relative;
    z-index: 11;
    height: 140px;
}
.search-m{
	position: relative;
    z-index: 1;
    height: 60px;
}
.search-m .form {
    position: absolute;
    left: 320px;
    top: 25px;
    width: 550px;
    height: 35px;
}
.search-m .text {
    left: 0;
    padding: 4px;
    width: 490px;
    height: 25px;
    border: 1px solid transparent;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
    position: absolute;
    top: 0;
    outline: none;
}
.search-m .button {
    -moz-border-radius: 0;
    border-radius: 0;
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 0;
    outline: none;
}

#hotwords {
    overflow: hidden;
    position: absolute;
    left: 320px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}
#hotwords a {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
    color: #999;
}
#hotwords a:hover {
    color:#f10215;
}
#header .style-red {
    color: #f10215;
    width: 65px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
#navitems {
    overflow: hidden;
    position: absolute;
    left: 200px;
    bottom: 0;
    width: 790px;
    height: 40px;
    padding-top: 20px;
}
#navitems ul {
    float: left;
}
#navitems li {
	float: left;
    margin-left: 30px;
}
#navitems a {
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
}
#navitems a:hover{
	color:#e4393c;
}
#navitems .spacer {
	float:left;
    overflow: hidden;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: -10px;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
/********fs********/
.fs, .fs_inner {
    position: relative;
}
.fs {
    z-index: 9;
    margin-bottom: 30px;
}
.fs_inner {
	margin: 0 auto;
    width: 1190px;
    z-index: 1;
    height: 480px;
    background-color: #f0f3ef;
}
.fs_col1, .fs_col2,.fs_col3 {
    float: left;
    height: 480px;
    margin-right: 10px;
}
.fs_col1 {
	background:#fff;
    width: 190px;
}
.fs_col2{
	width: 590px;
	/* background:pink; */
}
.fs_col3, .fs_col4 {
	float: left;
    width: 190px;
    height: 480px;
}
.fs_col3 {
    background:lightgreen;
}
.fs_col4 {
    background:lightblue;
}
.cate {
    position: relative;
    z-index: 2;
}
.cate_menu {
    overflow: hidden;
    padding: 15px 0;
    height: 450px;
    background-color: #fefefe;
    color: #636363;
}
.cate_menu_item {
    overflow: hidden;
    padding-left: 20px;
    height: 28px;
    line-height: 28px;
    font-size: 0;
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color ease .2s;
    -moz-transition: background-color ease .2s;
    transition: background-color .2s ease;
}
.cate_menu_item:hover{
	background-color: #d9d9d9;
}
.cate_menu_item_lk {
    font-size: 14px;
    color: #626262;
    -webkit-transition: color .2s ease;
    -o-transition: color ease .2s;
    -moz-transition: color ease .2s;
    transition: color .2s ease;
}
.cate_menu_item_lk:hover{
	color: #e33333;
}
.cate_menu_item_sp{
	padding: 0 4px;
    font-size: 12px;
}



















.gird_c1{
	margin:auto;
	width:1190px;
}




.focus {
    position: relative;
    float: left;
    width: 590px;
    height:470px;
    margin-top: 10px;
    overflow: hidden;
}
.focus_item{
  	overflow: hidden;
    width: 590px;
    height: 100%;
}
.focus_item_lk{
	display:block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.focus .slider{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.focus_indicators{
	left:46px;
}

.focus_indicators i{
	
}

.slider_indicators_btn {
    width: 18px;
    height: 18px;
}

.focus .slider_indicators_btn {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 1px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background .2s ease;
    -o-transition: background ease .2s;
    -moz-transition: background ease .2s;
    transition: background .2s ease;
}

.focus .slider_indicators_btn:after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 6px;
    height: 6px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #e1e8e3;
    border-color: hsla(0,0%,100%,.4);
    -webkit-transition: all .2s ease;
    -o-transition: all ease .2s;
    -moz-transition: all ease .2s;
    transition: all .2s ease;

}

.focus .slider_indicators_btn_active {
    background: hsla(0,0%,100%,.2);
   
}
.focus .slider_indicators_btn_active:after {
   background:#fff;
}











/******* sk 秒杀活动*********/
.seckill{
	margin-bottom:30px;
}
.seckill_inner {
    overflow: hidden;
    height:275px;
    background:#fff;
}
.sk_hd {
    position: relative;
    float: left;
    width: 190px;
    height: 275px;
    background: #e83632;
    color: #fff;
}
.sk_hd_lk {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}
.sk_tit {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 42px;
    /* font-size: 36px; */
    font-size: 34px;
}
.sk_hd_lk:hover{
	color:#fff;
	cursor:pointer;
}
.sk_subtit {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 90px;
    /* color: #edac8e; */
    color: #f19999;
    color: rgba(255, 255, 255, 0.5);
    /* font-size: 24px; */
    font-size: 20px;
}
.sk_icon {
    position: absolute;
    left: 86px;
    top: 126px;
    display: block;
    width: 20px;
    height: 33px;
    background-image: url(../img/sprite.seckill.png);
    background-position: -35px -25px;
}
.sk_desc {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 170px;
    font-size: 16px;
}
.sk_cd {
    position: absolute;
    top: 212px;
    left: 30px;
    height: 40px;
}
 .cd_item {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 5px;
}
.cd_item_txt {
    position: relative;
    line-height: 40px;
    font-weight: bold;
    /* font-size: 16px; */
    font-size: 20px;
}
.cd_item:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #e83632;
}
.sk_list {
    position: relative;
    float: left;
    width: 799px;
    border-right: solid 1px #f0f0f0;
    height: 275px;
    overflow: hidden;
}
.sk_chn {
    position: relative;
    float: left;
    width: 180px;
    height: 260px;
    padding: 8px 10px 7px;
}
.sk_list_inner {
    position: relative;
    width: 800px;
    height: 275px;
}

.sk_item_img:hover{
	opacity: .7;
}
.sk .slider_control {
    top: 110px;
    /* opacity: 0; */
}
.slider_control_prev {
    left: 0;
}
.slider_control_next {
    right: 0;
}

.sk_item{
	position:relative;
	float:left;
	width:200px;
	height:275px;
	/* background:lightgreen; */
}
.sk_item_img {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 50%;
    margin-left: -70px;
    top: 40px;
    -webkit-transition: opacity ease .2s;
    -o-transition: opacity ease .2s;
    -moz-transition: opacity ease .2s;
    transition: opacity ease .2s;
}
.sk_item_img {
    opacity: .8;
}

.sk_item_name {
    position: absolute;
    top: 190px;
    left: 0;
    width: 160px;
    padding: 0 15px;
    line-height: 30px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.sk_item_price {
    position: absolute;
    left: 15px;
    top: 230px;
    width: 160px;
    height: 20px;
    padding: 1px;
    background: #e6382f;
    line-height: 20px;
}
.sk_item_price_new {
    float: left;
    width: 80px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.sk_item_price_origin {
    float: left;
    width: 80px;
    height: 20px;
    background: #fff;
    text-align: center;
    color: #b7bcb8;
    font-size: 12px;
    text-decoration: line-through;
}
.sk_item imgs:hover{
    opacity: .8;
}
/******* sk 秒杀活动 end*********/

/******* floors1    *********/

.floors1{
    height: 480px;
    
}
.floors1_inner{
	
	height: 480px;
	/* background:lightblue; */
}

.box {
    float: left;
    width: 390px;
    height: 450px;
    margin: 0 10px 30px 0;
    background:#fff;
}
.box_last {
    margin-right: 0;
}
.box_hd {
    height: 60px;
    padding: 0 20px;
    font-size: 0;
    line-height: 0;
   /*  background:pink; */
}
.box_tit {
    float: left;
    font-weight: normal;
    font-size: 22px;
    color: #222;
    line-height: 44px;
}
.box_hd_arrow {
    background-position: 0px 0px;
    float: left;
    position: relative;
    width: 23px;
    height: 23px;
    top: 11px;
    left: 4px;
    background-image: url(../img/box_hd_arrow.png);
}

.box_subtit {
    float: left;
    font-size: 14px;
    color: #999;
    height: 20px;
    line-height: 20px;
    margin: 14px 0 0 10px;
}
.tab_body_item{
	width:350px;
	margin:0 auto;
}
.rank_tab .tab_head {
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: #f7f7f7;
}
.rank_tab .tab_head_item.active {
    /* color: #de3838; */
    color: #e33333;
}
.rank_tab_lk {
    -webkit-transition: color ease .2s;
    -o-transition: color ease .2s;
    -moz-transition: color ease .2s;
    transition: color ease .2s;
}
.active .rank_tab_lk {
    /* color: #de3838; */
    color: #e33333;
}
.rank_tab .tab_head_item {
    float: left; 
    width: 78px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: color ease .2s;
    -o-transition: color ease .2s;
    -moz-transition: color ease .2s;
    transition: color ease .2s;
}
.rank_item{
	overflow:hidden;
}
.rank_item_lk {
    position: relative;
    display: block;
    /* height: 108px; */
    height: 107px;
}
.rank_item_lk:hover{
	cursor:pointer;
}
.rank_item_lk:hover .rank_item_desc{
	color:#e4393c;
	cursor:pointer;
}
.rank_item_img {
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 15px;
    -webkit-transition: opacity ease .2s;
    -o-transition: opacity ease .2s;
    -moz-transition: opacity ease .2s;
    transition: opacity ease .2s;
}

.rank_item_rank {
    float: left;
    width: 30px;
    height: 40px;
    margin: 36px 0 0 10px;
    line-height: 40px;
    font-size: 32px;
    text-align: center;
    font-family: 'impact';
}

.rank_item_desc {
    display: block;
    margin-left: 125px;
    padding-top: 40px;
    height: 32px;
    line-height: 16px;
    font-size: 12px;
    overflow: hidden;
    color: #333;
    -webkit-transition: color ease .2s;
    -o-transition: color ease .2s;
    -moz-transition: color ease .2s;
    transition: color ease .2s;
}
.rank_item_rank_1 {
    color: #e74240;
}
.rank_item_rank_2 {
    color: #ed713d;
}
.rank_item_rank_3 {
    color: #ed713d;
}

.canBuy_slider .slider_control_prev {
    left: -20px;
}
.canBuy_slider .slider_control_next {
    right: -20px;
}
.canBuy_slider{
	position:relative;
	width:350px;
	height: 355px;
	margin:auto;
}

.canBuy_item{
	position: relative;
    display: block;
    /* height: 356px; */
    height: 355px;
}

.canBuy_item_cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 210px;
    padding-top: 52px;
    z-index: 1;
    color: #fff;
    font-family: 'Microsoft Yahei';
    background: url(../img/canBuy_item_cover.png) repeat-x 0 bottom;
}
.canBuy_item_cover_list{
	width: 100%;
    height: 90px;
    text-align: center;
}
.canBuy_item_cover_tit{
	height: 24px;
    line-height: 24px;
    font-size: 18px;
    margin-top: 19px;
    text-align: center;
}
.canBuy_item_cover_tit:before,.canBuy_item_cover_tit:after{
	content: '';
    position: relative;
    top: 0;
    display: inline-block;
    width: 47px;
    height: 1px;
    margin: 10px;
    background: #fff;
}

 .canBuy_item_cover_tit_txt{
 	display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 135px;
 } 
 
 
.canBuy_item_cover_subtit {
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    margin: 10px auto 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 235px
 
 }
.canBuy_item_cover_btn {
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -41px;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: solid 1px #fff;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    -moz-transition: all ease .2s;
    transition: all ease .2s;
}
 
.canBuy_lk:hover .canBuy_item_cover_btn {
    color: #fff;
    background-color: #e33333;
    border-color: #e33333;
} 
.outdoor_item{
	display: block;
    width: 350px;
    height: 180px;
    margin: 0 auto 10px;
}
     
 
/******* floors1 end*********/













